.summary .failed { 
  background-color:red;
  color:#fff;
  padding:3px;
}
.summary .locked { 
  background-color:yellow;
  padding:3px;
}
.summary .pending { 
  background-color:green;
  color:#fff;
  padding:3px;
}
.overview{
  font-size:22px;
  padding:10px 0;
}
.job {
  padding: 5px;
}
.job.locked,
.job.failed.locked {
  border-color: yellow;
}
.job.failed {
  border-color: #ff8b00;
}
#delayed_job_admin li {
  list-style: none;
}
#delayed_job_admin pre {
}
#delayed_job_admin th {
  white-space: nowrap;
}
.odd {
  background-color: #eee;
}
.backtrace {
  background-color: #ffffcc;
  overflow: hidden;
}